Repository habitat-sh/core, changes with the owners that CODEOWNERS names for each.
All owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc, @mwrock

Enable clippy in TravisCI
  .travis.yml
  Cargo.lock
  Makefile
  components/core/Cargo.toml
  components/core/src/crypto/artifact.rs
  components/core/src/crypto/hash.rs
  components/core/src/crypto/keys/box_key_pair.rs
  components/core/src/crypto/keys/mod.rs
  components/core/src/crypto/keys/sig_key_pair.rs
  components/core/src/crypto/keys/sym_key.rs
  components/core/src/event.rs
  components/core/src/lib.rs
  components/win-users/src/lib.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc, @mwrock

moving some common functionality from habitat
  Cargo.lock
  components/core/Cargo.toml
  components/core/src/error.rs
  components/core/src/fs.rs
  components/core/src/lib.rs
  components/core/src/os/users/linux.rs
  components/core/src/os/users/mod.rs
  components/core/src/os/users/windows.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Update Cargo.lock for hab 0.73.0
  Cargo.lock
Owners: none

Plan object support for Windows plan.ps1
  components/core/src/package/plan.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::blacklisted_name
  Makefile
Owners: none

Examine clippy::cmp_owned
  Makefile
Owners: none

Fix formatting of plan.rs
  components/core/src/package/plan.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::assign_op_pattern
  Makefile
Owners: none

Update libc
  Cargo.lock
Owners: none

Examine clippy::block_in_if_condition_stmt
  Makefile
Owners: none

Examine clippy::bool_comparison
  Makefile
Owners: none

Examine clippy::cast_lossless
  Makefile
  components/core/src/service.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::clone_on_copy
  Makefile
Owners: none

Examine clippy::for_kv_map
  Makefile
Owners: none

Examine clippy::needless_collect
  Makefile
Owners: none

Examine clippy::ok_expect
  Makefile
Owners: none

Examine clippy::match_bool
  Makefile
Owners: none

Examine clippy::const_static_lifetime
  Makefile
  components/core/src/binlink.rs
  components/core/src/channel.rs
  components/core/src/crypto/mod.rs
  components/core/src/fs.rs
  components/core/src/lib.rs
  components/core/src/os/ffi/windows.rs
  components/core/src/package/install.rs
  components/core/src/package/list.rs
  components/core/src/url.rs
  components/http-client/src/lib.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::identity_conversion
  Makefile
  components/core/src/package/install.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::op_ref
  Makefile
Owners: none

Examine clippy::ptr_arg
  Makefile
  components/core/src/package/list.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy:if_let_some_result
  Makefile
Owners: none

Examine clippy::println_empty_string
  Makefile
Owners: none

Examine clippy::get_unwrap
  Makefile
Owners: none

Examine clippy::single_match
  Makefile
  components/core/src/fs.rs
  components/core/src/package/ident.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::useless_vec
  Makefile
Owners: none

Examine clippy::useless_asref
  Makefile
  components/core/src/package/metadata.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::let_unit_value
  Makefile
  components/core/src/crypto/artifact.rs
  components/core/src/crypto/keys/sig_key_pair.rs
  components/core/src/crypto/keys/sym_key.rs
  components/core/src/util/sys.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::string_lit_as_bytes
  Makefile
  components/core/src/crypto/artifact.rs
  components/core/src/crypto/keys/box_key_pair.rs
  components/core/src/crypto/keys/mod.rs
  components/core/src/crypto/keys/sym_key.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::unreadable_literal
  Makefile
Owners: none

Examine clippy::unnecessary_operation
  Makefile
Owners: none

Examine clippy::toplevel_ref_arg
  Makefile
  components/core/src/package/ident.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::expect_fun_call
  Makefile
  components/core/src/fs.rs
  components/core/src/package/mod.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::let_and_return
  Makefile
  components/core/src/package/mod.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::write_with_newline
  Makefile
Owners: none

Examine clippy::unit_arg
  Makefile
  components/core/src/crypto/keys/sym_key.rs
Owners: @reset, @fnichol, @christophermaier, @chefsalim, @raskchanky, @baumanj, @jamesc

Examine clippy::unused_label
  Makefile
Owners: none

Examine clippy::needless_range_loop
  Makefile
Owners: none

Examine clippy::map_clone
  Makefile
Owners: none

Examine clippy::deref_addrof
  Makefile
Owners: none

CODEOWNERS:

components/core @reset @fnichol @christophermaier @chefsalim @raskchanky @baumanj @jamesc
components/http-client @fnichol @chefsalim @raskchanky
components/win-users @mwrock
support @fnichol @christophermaier @raskchanky @baumanj
