Repository habitat-sh/core, changes with the owners that CODEOWNERS names for each.
All owners: @christophermaier, @raskchanky, @chefsalim, @baumanj, @mwrock

CODEOWNERS:

* @christophermaier @raskchanky
components/core @christophermaier @chefsalim @raskchanky @baumanj
components/http-client @chefsalim @raskchanky
components/win-users @mwrock
support @christophermaier @raskchanky @baumanj

Fix platform-specific unused import warning
  components/win-users/build.rs
Owners: @mwrock

Fix clippy::needless_pass_by_value
  components/core/src/crypto/keys/mod.rs
  components/core/src/crypto/keys/sym_key.rs
  components/core/src/event.rs
  components/core/src/fs.rs
  components/core/src/lib.rs
  components/core/src/os/process/linux.rs
  components/core/src/package/install.rs
  components/core/src/package/list.rs
  components/core/src/package/metadata.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Fix clippy::wrong_self_convention
  components/core/src/package/archive.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Fix clippy::clone_on_copy and clippy::trivially_copy_pass_by_ref
  components/core/src/package/archive.rs
  components/core/src/package/ident.rs
  components/core/src/package/install.rs
  components/core/src/package/list.rs
  components/core/src/package/metadata.rs
  components/core/src/package/mod.rs
  components/core/src/package/target.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Move fixed clippy UNEXAMINED_LINTS to DENIED_LINTS
  Makefile
  components/core/src/crypto/keys/mod.rs
Owners: @christophermaier, @raskchanky, @chefsalim, @baumanj

Cargo update following release 0.78.0
  Cargo.lock
Owners: @christophermaier, @raskchanky

Add missing type-conversion to Windows code
  components/core/src/os/process/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Update `rustfmt` nightly version to 2019-03-18
  support/ci/shared.sh
Owners: @christophermaier, @raskchanky, @baumanj

Raise client connection timeout
  components/http-client/src/api_client.rs
Owners: @chefsalim, @raskchanky

Correctly run clippy in CI
  .travis.yml
Owners: @christophermaier, @raskchanky

Remove offensively-named config keys in favor of updated versions
  components/core/tests/fixtures/test_package/default.toml
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Adds more build_dep and build_tdep functionality
  components/core/src/package/archive.rs
  components/core/src/package/install.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

[http-client] Annotate version pins in `Cargo.toml`.
  components/core/Cargo.toml
  components/http-client/Cargo.toml
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

cargo update post 0.79.0 release
  Cargo.lock
Owners: @christophermaier, @raskchanky

Make SignalCode type alias crate public
  components/core/src/os/process/linux.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Use platform-specific code in platform-specific modules
  components/core/src/os/signals/unix.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Remove `signal` function from Windows
  components/core/src/os/process/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Simplify signal function on Windows
  components/core/src/os/process/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Be more explicit about what the process module re-exports
  components/core/src/os/process/mod.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Remove unused SignalCode type alias on Windows
  components/core/src/os/process/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Remove unused From<i32> for Signal implementation
  components/core/src/os/process/mod.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Remove OsSignal trait entirely.
  components/core/src/os/process/linux.rs
  components/core/src/os/process/mod.rs
  components/core/src/os/process/windows.rs
  components/core/src/os/signals/unix.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

linux.rs -> unix.rs
  components/core/src/os/process/mod.rs
  components/core/src/os/process/unix.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Remove os_signal function from OsSignal trait
  components/core/src/os/process/linux.rs
  components/core/src/os/process/mod.rs
  components/core/src/os/process/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Signal is now completely Unix-specific
  components/core/src/os/process/mod.rs
  components/core/src/os/process/unix.rs
  components/core/src/os/signals/mod.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Remove signal translations for unhandled signals
  components/core/src/os/signals/unix.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

[PR Feedback] Remove Signal usage from Windows module
  components/core/src/os/process/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Further unification and simplification
  components/core/src/os/signals/mod.rs
  components/core/src/os/signals/unix.rs
  components/core/src/os/signals/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Remove SignalEvent::Shutdown
  components/core/src/os/signals/mod.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Split shutdown signaling out from "other" signaling.
  components/core/src/os/signals/mod.rs
  components/core/src/os/signals/unix.rs
  components/core/src/os/signals/windows.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

rustfmt update post 0.79.0 release
  support/ci/shared.sh
Owners: @christophermaier, @raskchanky, @baumanj

Parse signals from strings
  components/core/src/error.rs
  components/core/src/os/process/mod.rs
  components/core/src/os/process/unix.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Cleanups
  components/core/src/os/process/mod.rs
  components/core/src/os/process/unix.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Bump to Rust 1.34.0
  .travis.yml
Owners: @christophermaier, @raskchanky

Cargo.lock has a new "generated file" message
  Cargo.lock
Owners: @christophermaier, @raskchanky

Consolidate `use` statements, address Clippy violations
  components/core/src/package/archive.rs
  components/core/src/package/ident.rs
  components/core/src/package/install.rs
  components/core/src/package/list.rs
  components/core/src/package/metadata.rs
  components/core/src/package/plan.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Adjust several trivial assertions to eliminate warning messages
  components/core/src/crypto/artifact.rs
  components/core/src/crypto/keys/box_key_pair.rs
  components/core/src/crypto/keys/sig_key_pair.rs
  components/core/src/crypto/keys/sym_key.rs
  components/core/src/package/ident.rs
  components/core/src/package/install.rs
  components/core/src/package/target.rs
  components/core/src/util/posix_perm.rs
  components/core/src/util/win_perm.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

[PR Feedback] Further streamlining!
  components/core/src/crypto/keys/box_key_pair.rs
  components/core/src/crypto/keys/sig_key_pair.rs
  components/core/src/crypto/keys/sym_key.rs
  components/core/src/package/archive.rs
  components/core/src/package/ident.rs
  components/core/src/package/metadata.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Derive Clone on ShutdownTimeout, ShutdownSignal
  components/core/src/os/process/mod.rs
  components/core/src/os/process/unix.rs
Owners: @christophermaier, @chefsalim, @raskchanky, @baumanj

Add Rust 1.34.0 "generated file" message to Cargo.lock
  Cargo.lock
Owners: @christophermaier, @raskchanky
